@import "tailwindcss";
@layer base {
  @import "@picocss/pico/css/pico.classless.min.css";

  li:has(> [data-slot="requires"]) {
    position: relative;
  }
}

/* Tell Tailwind where to scan for classes (including MDX) */
@source "./app/**/*.{js,ts,jsx,tsx,md,mdx}";
@source "./components/**/*.{js,ts,jsx,tsx,md,mdx}";
@source "../mdx-components.tsx";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #13171f;
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: light) {
  @import 'highlight.js/styles/github.css';
}

@media (prefers-color-scheme: dark) {
  @import 'highlight.js/styles/github-dark.css';
}

body {
  background: var(--background);
  color: var(--foreground);
}
